<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--k3 uat-->
   <!--<add name="K3UatEntitiesADO" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.18.9.141)(PORT=1521))(CONNECT_DATA=(SID=KFFUAT)));password=ta45uguh;persist security info=True;user id=KWDDEV" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--k3 prod K35IntfEntitiesADO-->
    <add name="K3EntitiesADO" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=KLHKHQSRV410)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=k3prod_srv)));password=RexEvaw2;persist security info=True;user id=K35INTF" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="K3Prod" connectionString="metadata=res://*/K3_PROD.csdl|res://*/K3_PROD.ssdl|res://*/K3_PROD.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=KLHKHQSRV410)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=k3prod_srv)));password=RexEvaw2;persist security info=True;user id=K35INTF&quot;" providerName="System.Data.EntityClient" />
    <add name="K3DEVEntities" connectionString="metadata=res://*/K3_DEV.csdl|res://*/K3_DEV.ssdl|res://*/K3_DEV.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.18.9.141)(PORT=1521))(CONNECT_DATA=(SID=KFFUAT)));password=ta45uguh;persist security info=True;user id=KWDDEV&quot;" providerName="System.Data.EntityClient" />
    <add name="K3ProdDrEntities" connectionString="metadata=res://*/K3_ProdDr.csdl|res://*/K3_ProdDr.ssdl|res://*/K3_ProdDr.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=KLHKPC3SRV042)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=k3proddr_srv)));password=fu6rufra;persist security info=True;user id=KEWILLFWD&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="DataProvider" value="Oracle.ManagedDataAccess.Client" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>