<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <log4net>
    <!--使用Rolling方式记录日志按照日来记录日志-->
    <appender name="RunLog" type="log4net.Appender.RollingFileAppender">
      <!--文件名,可以相对路径,也可以绝对路径,这里只给定了文件夹-->
      <file value="log\\runtime\\" />
      <!--最小锁定模型以允许多个进程可以写入同一个文件,解决文件独占问题-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--是否增加文件-->
      <appendToFile value="true" />
      <!--日志追加类型,Date为按日期增加文件,Size为按大小-->
      <rollingStyle value="Date" />
      <!--文件命名格式,非日期参数化要进行转义,如自定义文件后缀-->
      <datePattern value="yyyyMM\\yyyy-MM-dd&quot;.log&quot;" />
      <!--是否固定文件名-->
      <staticLogFileName value="false" />
      <!--内容布局-->
      <layout type="log4net.Layout.PatternLayout">
        <header value="----------------------header--------------------------&#xD;&#xA;" />
        <footer value="----------------------footer--------------------------&#xD;&#xA;" />
        <conversionPattern value="Current Time:%d Type:[%p]  Information:%m  Class:%F Line:%L %n" />
      </layout>
      <!--过滤器-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <!--只接受最小等级与最大等级之间的日志输出,这里只接受INFO级别的输出-->
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>
    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <file value="log\\error\\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMM\\yyyy-MM-dd&quot;.log&quot;" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="----------------------header--------------------------&#xD;&#xA;" />
        <footer value="----------------------footer--------------------------&#xD;&#xA;" />
        <conversionPattern value="Current Time:%d Type:[%p]  Information:%m  Class:%F Line:%L %n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <!--只接受最小等级与最大等级之间的日志输出,其他的被过滤,这里接受WARN(警告),ERROR(错误),FATAL(致命)级别的输出-->
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>
    <!--定义日志的输出媒介-->
    <root>
      <!--RollingFileAppender事件日志-->
      <appender-ref ref="RunLog" />
      <!--<appender-ref ref="ErrorLog" />-->
    </root>
  </log4net>
  <appSettings>
    <add key="EmailServerHost" value="192.168.83.231" />
    <add key="EmailServerPort" value="25" />
    <add key="EmailServer" value="sharespace.kerrylogistics.com" />
    <add key="EmailAccount" value="xdc" />
    <add key="EmailPWD" value="xdc" />
    <add key="EmailSubject" value="Sun EDI Test" />
    <add key="Content" value="Sun EDI File generate error, please see detail in log file." />
    <add key="EmailFromAddress" value="Kyle.Hong@kerrylogistics.com" />
    <add key="EmailCCAddress" value="" />
    <add key="EmailToAddress" value="Kyle.Hong@kerrylogistics.com,Lucy.LL.Yu@kerrylogistics.com" />
    <add key="DataProvider" value="Oracle.ManagedDataAccess.Client" />
    <!--update job flag-->
    <add key="updateFlag" value="N" />
  </appSettings>
  <connectionStrings>
    <!--k3 uat-->
    <!--<add name="K3EntitiesADO" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.18.9.141)(PORT=1521))(CONNECT_DATA=(SID=KFFUAT)));password=ta45uguh;persist security info=True;user id=KWDDEV" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--k3 prod K35IntfEntitiesADO-->
    <add name="K3EntitiesADO" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=KLHKHQSRV410)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=k3prod_srv)));password=RexEvaw2;persist security info=True;user id=K35INTF" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="K3Prod" connectionString="metadata=res://*/K3_PROD.csdl|res://*/K3_PROD.ssdl|res://*/K3_PROD.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=KLHKHQSRV410)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=k3prod_srv)));password=RexEvaw2;persist security info=True;user id=K35INTF&quot;" providerName="System.Data.EntityClient" />
    <add name="K3DEVEntities" connectionString="metadata=res://*/K3_DEV.csdl|res://*/K3_DEV.ssdl|res://*/K3_DEV.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=172.18.9.141)(PORT=1521))(CONNECT_DATA=(SID=KFFUAT)));password=ta45uguh;persist security info=True;user id=KWDDEV&quot;" providerName="System.Data.EntityClient" />
    <add name="K3ProdDrEntities" connectionString="metadata=res://*/K3_ProdDr.csdl|res://*/K3_ProdDr.ssdl|res://*/K3_ProdDr.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=KLHKPC3SRV042)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=k3proddr_srv)));password=fu6rufra;persist security info=True;user id=KEWILLFWD&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>